Port 22
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::
Protocol 2
LogLevel INFO

#HostKey /run/ssh/ssh_host_rsa_key
#HostKey /run/ssh/ssh_host_dsa_key
HostKey /run/ssh/ssh_host_ecdsa_key
#HostKey /run/ssh/ssh_host_ed25519_key

PermitRootLogin yes

AuthorizedKeysFile	/run/ssh/authorized_keys

PasswordAuthentication yes
PermitUserEnvironment yes

AcceptEnv LANG LC_*
PrintMotd no
#UsePAM no

Subsystem	sftp	/usr/lib/openssh/sftp-server

# TODO: use CA certificate, add it in the script
# Use JWT/IstioCA to get a SSH cert for the 'canonical service'.
